.slider {
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    background-position: center center;
    background-size: cover; /* Change to 'cover' */
    background-repeat: no-repeat;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 55vw;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.left-arrow {
    left: 5%;
}

.right-arrow {
    right: 5%;
}

.dots {
    display: flex;
    justify-content: space-evenly;
}

.dot-container {
    cursor: pointer;
    font-size: 20vp;
}

.description {
    text-align: center;
    font-size: 2.3vh;
    color: #555;
    background-color: #f9f9f9;
    padding: 3vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto 0;
}

.end {
    margin-top: 10vh;
}

.title_ {
    margin: auto 0;
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
}

.card {
    max-width: 60vw;
    width: 100%;
    height: 150vh;
    border: 5vw;
    border: solid;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    border-color: indigo;
    margin: auto;
    text-align: center;
}

.cardColor {
    background-color: lightblue;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: cover;
}

.card-content {
    padding: 3vw;
}

.deter {
    margin: auto 0;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.recentSection {
    margin: auto 0;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    color: indigo;
}
.vids {
    width: 50vw; 
    max-width: 800px; 
    
    display: block; 
    margin: 0 auto; 
    aspect-ratio: 16 / 9;
}
@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .vids {
        /* Example adjustments */
        height: 400px; /* Set a fixed height for smaller screens */
        /* You can adjust the height value as needed */
    }
}