
.standing-table {
  border-collapse: collapse;
  width: 100%;
}

.standing-table th,
.standing-table td {
  border: 1px solid #ddd;
  padding: 25px;
  text-align: center;
  overflow: auto;

}
.playerImage{
  height: 30%;
  width: 30%;
}

